body {
    margin: 0px;
}
/*Primera seccion*/
#secciones {
    display: flex;
    flex-direction: column;
}
table {
    display: flex;
    flex-direction: row;
    background-color: black;
    opacity: 0.5;
    color: white;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 200px;
    /*max width cambia el ancho de la letra*/
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 00px;
    width: 100%;
    text-align: center;
}
tr {
    border: white, 5px, solid;
}
td {
    padding: 10px 20px 10px 20px;
    text-align: center;
}
a {
    text-decoration: none;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: white;
}
a:hover {
    background-color: white ;
    color: black;
}

#videncabezado {
    position: relative;
    
}
#titulo1 {
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    color: white;
    text-align: center;
    
}
h1 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 130px;
    font-weight: 100;
    text-shadow: 10px, black;
}
button {
    height: 70px;
    width: 120px;
    background-color: #9E9E9E;
    border-radius: 8px;
    position: absolute;
    top: 80%;
    left: 45%;
    font-size: 40px;
    opacity: 0.5;
    border: 0cm;
    color: white;
}
/*acciones que se haran cuando el cursor este sobre el boton*/
button:hover {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    opacity: 0.9;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/*Demas secciones*/
.seccion {
    min-height: 300px;
}

h2 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: black;
    font-size: 60px;
    font-weight: 300; 
    text-shadow: black 2px 3px 15px;
    padding-left: 30px;
    padding-top: 50px;
    float: left;
}
#musica {
    background-color: #E53935;
}
audio {
    padding: 15px 15px 15px 15px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#audios {
    position: relative;
    float: left;
    width: 50%;
    padding-left: 30%;
    padding-top: 60px;
}
#imagenes {
    background-color: #AB47BC;
}
#imagenes2 {
    width: 50%;
    padding-left: 40%;
    padding-bottom: 40px;
    padding-top: 60px;
    float: left;
    position: absolute;
    display: flex;
    flex-direction: row;
}
#imagenes2 img {
    height: 120px;
    width: auto;
    border: solid, 65px, white;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#videos {
    background-color: #42A5F5;
}
#videos2 {
    width: 50%;
    padding-left: 40%;
    padding-bottom: 40px;
    padding-top: 60px;
    float: left;
    position: absolute;
    display: flex;
    flex-direction: row;
}
#videos2 video {
    height: 100px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
table {
    float: right;
    padding-right: 30px;
}
#yoga {
    background-color: #4CAF50;
}
#yoga2 {
    width: 50%;
    padding-left: 40%;
    padding-bottom: 40px;
    padding-top: 60px;
    float: left;
    position: absolute;
    display: flex;
    flex-direction: row;
}
#yoga2 img {
   height: 120px;
    width: auto;
    border: solid, 65px, white;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/*footer*/
footer {
    background-color: #01579B;
    min-height: 190px;
    margin-bottom: 0px;
    color: white;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
}
footer div {
    padding-left: 25px;
}
footer img {
    height: 130px;
    width: auto;
    padding-left: 40%;
    padding-top: 25px;
}
